<!DOCTYPE html>
<html lang="en">
  <%- include("partials/head") %>
  <body>
    <%- include("partials/header") %> <%- include("partials/nav") %>

    <main>
      <%- body %>
      <!-- This is where the child content will be injected -->
    </main>

    <%- include("partials/footer") %>
  </body>
</html>
